body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
  }
  
  #todo-list {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }
  
  .todo-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .todo-item:hover {
    background-color: #f2f2f2;
  }
  
  .completed {
    text-decoration: line-through;
    color: #ccc;
  }